body {
  margin: 0;
  font-family: Times, Helvetica, sans-serif;
}

.bar {
  position: fixed;
  width: 100%;
  z-index: 100;
  
}

.items {
  overflow: hidden;
  background-color: #800000;
  opacity: 0.8;
  writing-mode: vertical-lr;
  margin-top: 100px;
}

.items a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
  font-size: 20px;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.4s;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  writing-mode: horizontal-tb;
}

.items a:hover {
  background-color: #E80000;
  text-align: center;
  color: white;
  opacity: 0.8;
}



#brandlabel {
  color: white;
  background-color: #800000;
  text-align: center;
  opacity: 0.8;
  writing-mode: horizontal-tb;

}

#brandlabel:hover {
  background-color: #E80000;
  color: white;
  opacity: 0.8;
}

.items .icon {
  display: none;
}

@media screen and (max-width: 1080px) {
  .items a:not(:first-child) {display: none;}
  .items a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1080px) {
  .items.responsive {position: relative;}
  .items.responsive .icon {
    color: white;
    position: absolute;
    right: 0;
    top: 0;
  }
  .items.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  .bar {
    bottom: 0;
  }
}