body {
  margin: 0;
  font-family: Times, Helvetica, sans-serif;
}

.leftbar {
  position: fixed;
  width: 100%;
  z-index: 100;
  
}

.left_items {
  overflow: hidden;
  background-color: #800000;
  opacity: 0.8;
  writing-mode: vertical-lr;
  margin-top: 100px;
}

.left_items a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
  font-size: 20px;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.4s;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  writing-mode: horizontal-tb;
}

.left_items a:hover {
  background-color: #E80000;
  text-align: center;
  color: white;
  opacity: 0.8;
}



#left_brandlabel {
  color: white;
  background-color: #800000;
  text-align: center;
  opacity: 0.8;
  writing-mode: horizontal-tb;

}

#left_brandlabel:hover {
  background-color: #E80000;
  color: white;
  opacity: 0.8;
}

.left_items .icon {
  display: none;
}

@media screen and (max-width: 1080px) {
  .left_items a:not(:first-child) {display: none;}
  .left_items a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1080px) {
  .left_items.responsive {position: relative;}
  .left_items.responsive .icon {
    color: white;
    position: absolute;
    right: 0;
    top: 0;
  }
  .left_items.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  .leftbar {
    bottom: 0;
  }
}